/*--------------------------------------------
            Loading Custom Fonts
---------------------------------------------*/

@font-face {
    font-family: RaglanPunch;
    src: url(assets/fonts/raglanpunch.ttf);
    src: url(assets/fonts/raglanpunch.ttf) format("truetype"),
         url(assets/fonts/raglanpunch.otf) format("opentype");
}

/*--------------------------------------------
                Text Styling
---------------------------------------------*/

html {
    font-family: RaglanPunch, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75%;
    letter-spacing: 1px;
}

form {
    width: 300px; 
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 5px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  input[type="submit"] {
    width: 100%; 
    padding: 10px;
    background-color: #333; 
    color: #fff; 
    border: none;
    border-radius: 4px; 
  }
  