/*--------------------------------------------
            Loading Custom Fonts
---------------------------------------------*/

@font-face {
    font-family: RaglanPunch;
    src: url(assets/fonts/raglanpunch.ttf);
    src: url(assets/fonts/raglanpunch.ttf) format("truetype"),
         url(assets/fonts/raglanpunch.otf) format("opentype");
}

/*--------------------------------------------
                Text Styling
---------------------------------------------*/

html {
    font-family: RaglanPunch, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 62.5%;
}